name: Release

permissions: {}

on:
  workflow_dispatch:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release-plz:
    name: Release-plz
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
      id-token: write
    steps:
      - uses: oxc-project/release-plz@e2b12f55ad64a22af8e93634b94439c42913afca # v1.0.6
        id: release-plz
        with:
          PAT: ${{ secrets.OXC_BOT_PAT }}

      - name: Bump extension.toml
        if: ${{ steps.release-plz.outputs.prs_created }}
        env:
          GH_TOKEN: ${{ secrets.OXC_BOT_PAT }}
          PR_NUMBER: ${{ fromJSON(steps.release-plz.outputs.pr).number }}
          VERSION: ${{ fromJSON(steps.release-plz.outputs.pr).releases[0].version }}
        run: |
          set -e

          pr_number="${PR_NUMBER}"

          if [[ -n "$pr_number" ]]; then
            version="${VERSION}"

            sed -i.bak "s/^version = .*/version = \"${version}\"/" extension.toml
            rm extension.toml.bak

            gh pr checkout $pr_number
            git add extension.toml
            git commit --amend --no-edit
            git push --force-with-lease
          fi
